[package]
name = "gestalt"
description = "MobileGestalt.dylib wrapper for Rust, primarily for retrieving the Mac UDID."
edition.workspace = true
version.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
