name: "Build & Bundle"

on:
  workflow_dispatch:

env:
  BINARY_NAME: plumeimpactor
  BINARY_NAME_CLI: plumesign
  BUNDLE_NAME: Impactor

jobs:
  build-macos-arm:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-apple-darwin

      - name: Build ARM64
        run: |
          export MACOSX_DEPLOYMENT_TARGET="11.0"
          cargo build --bins --workspace --release --target aarch64-apple-darwin

          mkdir -p dist
          cp target/aarch64-apple-darwin/release/${{ env.BINARY_NAME }} dist/${{ env.BINARY_NAME }}-macos-arm64
          cp target/aarch64-apple-darwin/release/${{ env.BINARY_NAME_CLI }} dist/${{ env.BINARY_NAME_CLI }}-macos-arm64

      - uses: apple-actions/import-codesign-certs@v5
        with:
          p12-file-base64: ${{ secrets.DEV_ID_P12_BASE64 }}
          p12-password: ${{ secrets.DEV_ID_P12_PASSWORD }}

      - run: brew install create-dmg

      - name: Create Bundle
        run: |
          make macos BIN1=dist/${{ env.BINARY_NAME }}-macos-arm64 BUNDLE=1 ARCH=arm64
          make macos BIN1=dist/${{ env.BINARY_NAME_CLI }}-macos-arm64 ARCH=arm64

      - name: Codesign
        run: |
          mkdir -p dist/dmg
          mv dist/${{ env.BUNDLE_NAME }}.app dist/dmg/

          codesign --deep --force --options runtime \
            --sign "${{ secrets.DEV_ID_IDENTITY_NAME }}" \
            dist/dmg/${{ env.BUNDLE_NAME }}.app

      - name: Create DMG
        run: |
          create-dmg \
            --volname ${{ env.BUNDLE_NAME }} \
            --background "package/macos/background.png" \
            --window-pos 200 120 \
            --window-size 510 350 \
            --icon-size 100 \
            --icon ${{ env.BUNDLE_NAME }}.app 160 155 \
            --hide-extension "${{ env.BUNDLE_NAME }}.app" \
            --app-drop-link 350 155 \
            dist/${{ env.BUNDLE_NAME }}-macos-arm64.dmg \
            dist/dmg

      - name: Notarize
        run: |
          xcrun notarytool submit \
            dist/${{ env.BUNDLE_NAME }}-macos-arm64.dmg \
            --apple-id "${{ secrets.APPLE_ID_EMAIL }}" \
            --password "${{ secrets.APPLE_ID_PASSWORD }}" \
            --team-id "${{ secrets.APPLE_ID_TEAM }}" \
            --wait

          xcrun stapler staple dist/${{ env.BUNDLE_NAME }}-macos-arm64.dmg

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BINARY_NAME }}-macos-arm64
          path: |
            dist/${{ env.BUNDLE_NAME }}-macos-arm64.dmg
            dist/${{ env.BINARY_NAME_CLI }}-macos-arm64
