name: Update metainfo on release

on:
  release:
    types:
      - published
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Update metainfo
        run: ./update_meta.sh

      - name: Commit and merge in changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          gh release upload "${{ github.event.release.tag_name }}" upload/dev.khcrysalis.PlumeImpactor.metainfo.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
