name: Release

on:
  push:
    tags:
      - v*
  workflow_dispatch:

env:
  BINARY_NAME: plumeimpactor
  BINARY_NAME_CLI: plumesign
  BUNDLE_NAME: Impactor

jobs:
  release:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Download macOS ARM Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.BINARY_NAME }}-macos-arm64
          path: prepare/

      - name: Prepare Uploads
        run: |
          mkdir -p upload
          shopt -s globstar
          mv prepare/**/*.dmg upload/
          mv prepare/**/plumesign* upload/

      - name: Extract Version
        id: get_version
        run: |
          VERSION=$(awk '/\[workspace.package\]/,/^$/' Cargo.toml | sed -nE 's/version *= *"([^"]*)".*/\1/p')
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: v${{ steps.get_version.outputs.version }}
          tag_name: v${{ steps.get_version.outputs.version }}
          files: upload/*
          generate_release_notes: true
          fail_on_unmatched_files: true
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
